{% extends "main/base_block_project.html" %}
{% load static %}
{% block content_body %}
<h2 class="mb-5">Turtle Crossing</h2>
<h3 class="mb-3">Image</h3>
<img class="proj-pic-item mb-5" src="{% static 'portfolio_app/img/projects/turtle_crossing.png' %}" alt="..." />
<h3 class="mb-3">Code (main.py)</h3>
<pre class="mb-3"><code class="language-python">
    import time
    from turtle import Screen, exitonclick
    from player import Player
    from car_manager import CarManager
    from scoreboard import Scoreboard
    
    screen = Screen()
    screen.setup(width=600, height=600)
    screen.bgcolor("white")
    screen.title("Turtle Crossing")
    screen.tracer(0)
    
    player = Player()
    car_manager = CarManager()
    scoreboard = Scoreboard()
    
    game_is_on = True
    while game_is_on:
        time.sleep(0.1)
        screen.update()
    
        screen.listen()
        screen.onkey(player.player_up, "Up")
    
        if car_manager.car_list[0].xcor() <= -320:
            car_manager.car_delete()
    
        for car in range(len(car_manager.car_list)):
            if (car_manager.car_list[car].distance(player) <= 38 and car_manager.car_list[car].ycor() - 10 < player.ycor() + 14 < car_manager.car_list[car].ycor() + 10) or\
                (car_manager.car_list[car].distance(player) <= 38 and car_manager.car_list[car].ycor() - 10 < player.ycor() - 8 < car_manager.car_list[car].ycor() + 10):
                game_is_on = False
                scoreboard.game_over()
                screen.exitonclick()
    
        if player.ycor() + 14 >= 300:
            scoreboard.score += 1
            scoreboard.update_scoreboard()
            player.player_reset()
            car_manager.car_increase_speed()
    
        car_manager.move_cars()
    
</code></pre>
<h3 class="mb-3">Code (player.py)</h3>
<pre class="mb-3"><code class="language-python">
    from turtle import Turtle

    STARTING_POSITION = (0, -280)
    MOVE_DISTANCE = 10
    UP = 90
    
    class Player(Turtle):
        def __init__(self):
            super().__init__()
            self.shape("turtle")
            self.color("black")
            self.shapesize(stretch_wid=1, stretch_len=1)
            self.penup()
            self.setheading(UP)
            self.goto(STARTING_POSITION)
    
        def player_up(self):
            self.forward(MOVE_DISTANCE)
        
        def player_reset(self):
            self.goto(STARTING_POSITION)
    
</code></pre>
<h3 class="mb-3">Code (car_manager.py)</h3>
<pre class="mb-3"><code class="language-python">
    from turtle import Turtle
    import random
    
    COLORS = ["red", "orange", "yellow", "green", "blue", "purple"]
    STARTING_MOVE_DISTANCE = 5
    MOVE_INCREMENT = .2
    LEFT = 180
    # Determines the amount of cars on the screen. The smaller the number, the more cars you will have. Must be whole number.
    NUMBER_OF_CARS = 6
    
    class CarManager:
        def __init__(self):
            self.starting_move_distance = STARTING_MOVE_DISTANCE
            self.car_list = []
            self.create_car()
    
        def create_car(self):
            new_car = Turtle("square")
            new_car.color(random.choice(list(COLORS)))
            new_car.shapesize(stretch_wid=1, stretch_len=2)
            new_car.penup()
            new_car.setheading(LEFT)
            new_car.goto(320, random.randint(-250, 250))
            self.car_list.append(new_car)
    
        def move_cars(self):
            for car in range(len(self.car_list)):
                self.car_list[car].forward(self.starting_move_distance)
            self.car_spawn_chance()
    
        def car_spawn_chance(self):
            car_spawn = random.randrange(1, NUMBER_OF_CARS)
            if car_spawn == 1:
                self.create_car()
    
        def car_delete(self):
            self.car_list[0].hideturtle()
            self.car_list.pop(0)
    
        def car_increase_speed(self):
            for car in range(len(self.car_list)):
                self.starting_move_distance += MOVE_INCREMENT

</code></pre>
<h3 class="mb-3">Code (scoreboard.py)</h3>
<pre class="mb-3"><code class="language-python">
from turtle import Turtle

ALIGNMENT = "center"
FONT = ("Courier", 24, "normal")
SCORE_POSITION = (-210, 260)

class Scoreboard(Turtle):
    def __init__(self):
        super().__init__()
        self.score = 0
        self.color("black")
        self.penup()
        self.hideturtle()
        self.goto(SCORE_POSITION)
        self.update_scoreboard()
        
    def update_scoreboard(self):
        self.clear()
        self.write(f"Level: {self.score}", align=ALIGNMENT, font=FONT)

    def game_over(self):
        self.goto(0, 0)
        self.write(f"Game Over", align=ALIGNMENT, font=FONT)

</code></pre>
{% endblock content_body %}